.container {
  display: flex;
  justify-content: space-between;
  margin: 25px 120px 0 120px;
}

.container h1 {
  margin: 0;
  font-size: 1.5vw;
  color: azure;
}

.box {
  width: 3vw;
  height: 3vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.compare {
  /* border: 2px solid orange; */
  background-color: orange;
}

.swap {
  background-color: red;
}

.sorted {
  background-color: #be0aff;
}
