.nav-bar {
  display: flex;
  padding: 3vw;
  background-color: #03071e27;
  color: azure;
  align-items: center;
  justify-content: space-between;
  font-family: "Indie Flower", cursive;
  margin-bottom: 2vh;
  box-shadow: 0px 2px 7px black;
}

.nav-bar h1 {
  color: azure;
  margin: 0;
  font-size: 2vw;
  font-weight: 100;
}

.slider {
  -webkit-appearance: none;
  width: 8vw;
  height: 0.4vw;
  background: transparent;
  outline: none;
  border: 2px solid lawngreen;
  border-radius: 8px;
  margin: 0;
}

/* for chrome/safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.6vw;
  height: 2vw;
  background: #03071e;
  cursor: pointer;
  border: 2px solid lawngreen;
  border-radius: 4px;
}

button {
  background: none;
  color: #fff;
  border: 2px solid lawngreen;
  padding: 1em 3em;
  border-radius: 22px;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
  text-transform: uppercase;
  font-family: "Indie Flower", cursive;
  margin: 0 1vw;
  font-weight: 550;
  font-size: 1vw;
}

button:hover {
  color: #ffac81;
  border-color: yellow;
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em yellow;
  transform: translateY(-0.25em);
}

.input-container {
  text-align: center;
  margin: 0 1vw;
  font-size: 1.2vw;
}

label {
  display: block;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  border-bottom: 2px solid lawngreen;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: #03071e27;
  background-image: none;
  cursor: pointer;
  font-family: "Indie Flower", cursive;
  font-weight: 550;
  font-size: 1vw;
  padding: 0 1.5em;
  border-radius: 10px;
}

select option {
  background-color: #03071e87;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 18vw;
  height: 4vw;
  border-radius: 0.25em;
  overflow: hidden;
  margin: 0 1vw;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  right: 0.7em;
  top: 0.6em;
  /* padding: 0.54em; */
  background-color: transparent;
  pointer-events: none;
  /* border: 2px solid lawngreen; */
  font-size: 1.5vw;
  transition-duration: 0.25s;
  transition-property: color;
  transition-timing-function: all ease;
}
/* Transition */
.select:hover::after {
  color: #ffac81;
}

.setting {
  display: flex;
  align-items: center;
}
