.array-bar {
  display: inline-block;
  margin: 0 1px;
  border-radius: 3px;
  text-align: center;
  color: #272640;
  font-weight: 600;
  /* border: 1px solid; */
  transition-duration: 100ms;
  transition-property: height;
  transition-timing-function: ease-in;
}

.bar-container {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  min-height: 450px;
}
